.container{
    
    box-shadow: 0 0 15px -5px var(--palet3);
    margin: 25px 10px;
    border-radius: 8px;
    padding: 5px;
    max-width: 250px;
   transition: 0.3s ease;

}
.container:hover{
transform: scale(1.03);
}
.container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    border-radius: 8px;
   
}
.span{
    font-weight: 400;
    font-size: 18px;
    padding: 15px 0;
}

/* @media only screen and (min-width: 768px) {
   
   }
   @media only screen and (min-width: 1280px) {

} */